:root {
    --background: rgba(216, 30, 5, .20);
    --background-padding: rgba(241, 241, 241, 0.7);
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }

  html {
    height: 100%;
  }

  body {
  margin: 0;
  min-height: 100%;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 500px) {
   body {
  background-image: url(mobile2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: white;
  }
  .about-content {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .text-padding {
    margin: 0 1em 0 1em;
    padding: .3em;
    background: var(--background-padding);
    border-radius: .2em;
  }

  footer {
    margin-top: auto;
    padding: .3em;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(226, 235, 242, 0.6);
  }
}

@media only screen and (min-width: 501px) {
  body {
  background-image: url(cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  }

  .text-padding {
    background: rgba(243, 243, 243, 0.9);
    color: black;
    padding: 1em;
    border-radius: .5em;
    margin: 0 2em 0 2em;
  }
  footer {
    margin-top: auto;
    padding: .3em;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: var(--background);
    
  }
  .profile-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 30%;
  }
  
}


.info {
  display: grid;
}

.content {
  
    background-color: #333;
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
  }

  #myVideo {
    margin: 0;
    padding: 0;
    background: white;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
  }

.loader {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader.hidden {
animation: fadeOut .5s;
animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
}
}



.social-logos {
  padding: .2px;
  height: .7em;
}


main p {
  color: white;
}

.money {
  width: auto;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.profile {
  
  width: 13em;
  border-radius: 0;
  margin-bottom: .1em;
}

p {
  font-size: .8em;
  align-content: center;
}




































:root {
  --background: rgba(216, 30, 5, 0);
}
/* Navigation bar start */
.logo{
  height: 2em;
  margin-top: .1em;
}
header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 10;
  width: 100%;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  display: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
margin-bottom: 1em;
margin-left: 1em;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: .7rem;
  text-transform: uppercase;
}

nav a:hover {
  color: white;
}

.nav-toggle:checked ~ nav {
display: block;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}


/* Burger Menu */
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
display: block;
background: black;
height: 2px;  
width: 2em;
border-radius: 2px;
position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
top: 7px;
}

/* Navigation bar end */






@media screen and (min-width: 700px) {
.nav-toggle-label {
    display: none;
}

header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
}
.logo {
    margin-top: .5em;
    margin-left: 3em;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
}

nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .7em;

}

nav ul {
    display: flex;
    justify-content: flex-end;
}
nav li {
    margin-left: 3em;
    margin-bottom: 0;
}

nav a {
    opacity: 1;
    position: relative;
}

nav a::before {
    content: '';
    display: block;
    height: 3px;
    background: black;
    position: absolute;
    top: -.5em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
}

nav a:hover::before{
    transform: scale(1,1);
}
}



#footer-video {
  z-index: 1000;
}


















/* Sponsors */
html, body{
  height: 100%;
}
.sponsor-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: var(--background-padding);
  
}
.sporthilfe {
  width: 10em;
}

.corvatsch {
  width: 10em;
}

.little-sponsor-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.5em;
  
}

.funky{
  width: 2.5em;
}


.smith {
  width: 4em;
}


.level{
  width: 1.5em;
  margin-left: .6em;
}

.northwave{
  
  width: 7em;
}

.doodah {
  width: 7em;
}


/* About */
html, body{
  height: 100%;
}
.about-wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}












.footer-container {
  
  width: 60%;
  display: flex;
  justify-content: space-between;
}